// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-info {
  background-color: #fff;
  text-align: center;
}

h2, p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.information-lists {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
}

.information-lists li {
  width: 100px;
}

.tabs {
  width: 80%;
  margin: 40px auto;
}

.tab_item {
  width: calc(100%/4);
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  display: block;
  float: left;
  text-align: center;
  transition: all 0.2s ease;
  overflow: hidden;
}

.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

input:checked + .tab_item {
  border-bottom: 3px solid #26d0c9;
}

.tab_content {
  display: none;
  clear: both;
  padding-top: 20px;
}

#posts:checked ~ #posts_content,
#likes:checked ~ #likes_content,
#followers:checked ~ #followers_content,
#following_users:checked ~ #followings_content {
  display: block;
}